{% extends "base.html.twig" %}

{% block title %}Mini Shop: Home Page{% endblock %}

{% block body %}
    <h1 class="text-center">Bienvenue sur Mini Shop</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate molestias beatae veritatis eius placeat quia distinctio? Nam facere, repellat provident quam molestiae laboriosam maiores reiciendis laborum alias eaque omnis ipsam veniam dolores sit obcaecati? Delectus animi deserunt voluptates! Ipsum, deleniti?</p>
    <p>Dignissimos nulla doloribus, beatae, quam magnam ad excepturi, natus fugit voluptatem iure officiis! Ex vitae corrupti in debitis temporibus officia, magni fugit reiciendis amet earum. Soluta nisi quis officiis? Porro id dolorem dolores voluptatibus delectus expedita earum quibusdam sint fugiat?</p>
{% endblock %}